<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.backend.SecurityService.Service.RefreshMapper">

    <select id="existsByRefresh" parameterType="String" resultType="boolean">
        SELECT *
        FROM tb_tokenhistory_h
        WHERE 1=1
          AND refresh = #{refresh}
    </select>

    <insert id="insertByRefresh" parameterType="RefreshEntity">
        insert into tb_tokenhistory_h
        (
            id,
            username,
            refresh,
            expiration
        )
        values (
                   #{id},
                   #{username},
                   #{refresh},
                   #{expiration}
               );
    </insert>

    <delete id="deleteByRefresh" parameterType="String">
        DELETE FROM gallery.tb_tokenhistory_h
        WHERE ID IN (
                    SELECT ID
                    FROM gallery.tb_tokenhistory_h
                    WHERE 1=1
                      AND refresh = #{refresh})

    </delete>
</mapper>